<div class="slideNext-btn">
  <svg class="" width="41" height="34" viewBox="0 0 41 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M22.9104 32.5491L39.0013 16.6028M39.0013 16.6028L23.2578 1.00002M39.0013 16.6028L1.99219 16.6028" stroke="#07272D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</div>

