<div class="slidePrev-btn">
<svg class="" width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.5">
<path d="M17.0916 1.00195L1.00062 16.9483M1.00062 16.9483L16.7441 32.5511M1.00062 16.9483L38.0098 16.9483" stroke="#07272D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</g>
</svg>
</div>
