<div class="filter-results__wrap">
    {% assign chosenBlog = blogs[block.settings.blog] %}   
    <section style="display: block" class="filter-results" data-handle="{{ article.handle }}">
      {%- paginate blog.articles by 2 -%}  
        {% if blog.title == "Interviews" %}
          {% include 'article-grid-interview', items: blog.articles %}
        {% else %}
          {% include 'article-grid', items: blog.articles %}  
        {% endif %}             
        {%- if paginate.pages >  1-%}
          {% include 'pagination' %}
        {%- endif -%}
      {%- endpaginate -%}
    </section>
</div>



