<div class="cart-drawer">
  <div class="cart-drawer__inner">
    <div class="cart-drawer__header">
      <p class="body-small">Your Cart</p>
      {% include 'icon-close' %}
    </div>
    <div class="cart-drawer__items">
      <!-- <div class="cart-drawer__item">
        <div class="cart-drawer__item-left">
          <img src="{{ 'eggbites.png' | asset_url }}" alt="">
          <p class="body-small">Remove</p>
        </div>
        <div class="cart-drawer__item-right">
          <h3 class="body-bold">Clean Lean Protein </h3>
          <h4 class="body-small">39.99</h4>
          <h5 class="body-small">option one</h5>
          <h5 class="body-small">option two</h5>
        </div>
      </div>   -->
    </div>
    <div class="cart-drawer__checkout">  
    </div>
  </div>
</div>