<div class="cart-drawer">
  <div class="cart-drawer__inner">
    <div class="cart-drawer__header">
      <p class="body-bold-large">Your Cart</p>
      {% include 'icon-close' %}
    </div>
    <div class="cart-drawer__items">
    </div>
    <div class="cart-drawer__checkout">  
      <div class="cart-drawer__checkout-totals">
        <p class="body-small">Subtotal</p>
        <h4 class="header-small js-cart-drawer-total">£33.99</h4>
      </div>
      <div class="cart-drawer__checkout-button">
        <a href="/checkout">
          <button class="btn"><p>Checkout</p></button>
        </a>
      </div>
    </div>
  </div>
</div>