<section class="digest-search">
  <div class="digest-search__inner container">  
    <div class="digest-search__search"> 
      <input type="text" placeholder="Search The Digest...">
      {% include 'icon-search' %}
    </div>  
    <div class="digest-search__filter">      
      {% for block in section.blocks %}
        {% assign chosenBlog = blogs[block.settings.blog] %}
        <div class="digest-search__filter-item sub-header" data-handle="{{ chosenBlog.handle }}">
          {{ chosenBlog.title }} 
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<div class="filter-results__wrap">
{% for block in section.blocks %}
  {% assign chosenBlog = blogs[block.settings.blog] %}   
  <section class="filter-results" data-handle="{{ chosenBlog.handle }}">
    {%- paginate chosenBlog.articles by 8 -%}
    {% include 'article-grid', items: chosenBlog.articles %}
      {%- if paginate.pages >  1-%}
        {% include 'pagination' %}
      {%- endif -%}
    {%- endpaginate -%}
  </section>
{%- endfor -%}  

{% for block in section.blocks %}
  {% assign chosenBlog = blogs[block.settings.blog] %}   
  <section class="search-results">
    {% include 'article-grid', items: chosenBlog.articles title: true %}
    
  </section>
{%- endfor -%}
<p class="container body-small js-no-results" style="margin-top: 50px; display: none">Sorry, no resluts found</p>
</div>




{% schema %}
{
  "name": "Search",
  "class": "blog-search",
  "settings": [
  ],
  "blocks": [
    {
      "type": "blog",
      "name": {
        "en": "Blog"
      },
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog Type",
          "info": "Select a blog type that will appear as a filter"
        }
      ]
    }
  ]
}

{% endschema %}


