<div class="digest-header">
  <div class="digest-header__inner container js-visibility reveal-slide">
    <div class="digest-header__left">
      <h1 class="header-xl">The Digest</h1>
    </div>
    <div class="digest-header__right">
      <div class="digest-header__date">
        <p class="body-small">Friday, 19 February</p>
        <p class="body-small">Today’s Paper</p>
      </div>
      <div class="digest-header__temperature-wrap">
        <div class="digest-header__temperature">
          <p class="body-small js-london">7° C</p>
          <p class="body-small">London</p>
        </div>
        <div class="digest-header__temperature">
          <p class="body-small js-birm">7° C</p>
          <p class="body-small">Birmingham</p>
        </div>
        <div class="digest-header__temperature">
          <p class="body-small">7° C</p>
          <p class="body-small js-man">Manchester</p>
        </div>

      </div>

    </div>

    
  </div>
</div>