<footer class="footer">
  <div class="footer__inner container js-visibility reveal-slide">
    <div class="footer__column">
      <div class="footer__logo">
        <a href="">{% include 'nav-logo' %}</a>  
        <p class="body-small footer__mobile-only">Nuzest in your smoothie and your inbox.</p>
      </div>      
      <div class="footer__social">
        <a href="">{% include 'icon-facebook' %}</a>  
        <a href="">{% include 'icon-instagram' %}</a>  
        <a href="">{% include 'icon-twitter' %}</a>  
        <a href="">{% include 'icon-youtube' %}</a>  
      </div>     
    </div>
    <div class="footer__column">
      <div class="footer__column-menu">
        <div class="footer__column-menu-header">
          <p class="caption-regular">Shop</p>
          <div class="footer__mobile-only">{% include 'icon-dropdown' %}</div>            
        </div>
        <ul>
          <a href=""><li class="body-small">Clean Lean Protein</li></a>
          <a href=""><li class="body-small">Good Green Vitality</li></a>
          <a href=""><li class="body-small">Kids Good Stuff</li></a>
          <a href=""><li class="body-small">Accessories</li></a>
          <a href=""><li class="body-small">Best Sellers</li></a>
          <a href=""><li class="body-small">Athlete Favorites</li></a>
        </ul>
      </div>
      <ul>
        <a href=""><li class="body-bold">Privacy Policy </li></a>
      </ul>
    </div>
    <div class="footer__column">
      <div class="footer__column-menu">
        <div class="footer__column-menu-header">
          <p class="caption-regular">LEARN</p>
          <div class="footer__mobile-only">{% include 'icon-dropdown' %}</div>
        </div>
        <ul>
          <a href=""><li class="body-small">About</li></a>
          <a href=""><li class="body-small">Blog</li></a>
        </ul>
      </div>
      <ul>
        <a href=""><li class="body-bold">Terms & Conditions</li></a>
      </ul>      
    </div>
    <div class="footer__column">
      <div class="footer__column-menu">
        <div class="footer__column-menu-header">
          <p class="caption-regular">SUPPORT</p>
          <div class="footer__mobile-only">{% include 'icon-dropdown' %}</div>
        </div>
        <ul>
          <a href=""><li class="body-small">Live Chat</li></a>
          <a href=""><li class="body-small">support@nuzest.co.uk</li></a>
          <a href=""><li class="body-small">Shipping  Information</li></a>
          <a href=""><li class="body-small">Wholesale</li></a>
          <a href=""><li class="body-small">FAQ</li></a>
        </ul>
      </div>
      <ul>
        <a href=""><li class="body-bold">Nuzest Corporate</li></a>
      </ul>      
    </div>
    <ul class="footer__mobile-only">
      <a href=""><li class="body-bold">Privacy Policy </li></a>
      <a href=""><li class="body-bold">Terms & Conditions</li></a>
      <a href=""><li class="body-bold">Nuzest Corporate</li></a>      
    </ul>
  </div>
</footer>

<section class="footer-banner" style="background-color: #F8EBD6;">
  <p class="body-bold">Free shipping on orders over £50.</p>
  {% include 'icon-close' %}
</section>
<section class="footer-banner" style="background-color: white;">
  <p class="body-bold">Nutrient deficiencies rise rapidly as we age. Go against the grain, live nutritiously.</p>
</section>