<section class="scrolling-animation">  
  <div class="scrolling-animation__bg-left"></div>
  <div class="scrolling-animation__bg-right"></div>

  <div class="scrolling-animation__inner container">
    <div class="scrolling-animation__left">
      <h2 class="header-medium">Like our plants, we’re always evolving</h2>
      <p class="body">When the science evolves, so do our formulas. Our products are plant-based, led by nature, and backed by science for maximum efficacy.
      </p>

    </div>
    <div class="scrolling-animation__right">
      <div class="scrolling-animation__inner-circle">
        <div class="scrolling-animation__num-one header-small active">1</div>
        <div class="scrolling-animation__num-two header-small">2</div>
        <div class="scrolling-animation__num-three header-small">3</div>
        <div class="scrolling-animation__num-four header-small">4</div>
        <img src="{{ section.settings.img-one | img_url: 'master' }}" alt="">
      </div>
      
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Scrolling Animation",
  "class": "hero",
  "settings": [
    {
      "type": "header",
      "content": "One"
    },
    {
      "type": "image_picker",
      "id": "img-one",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading-one",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub-heading-one",
      "label": "Copy"
    },
    {
      "type": "header",
      "content": "Two"
    },
    {
      "type": "image_picker",
      "id": "img-two",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading-two",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub-heading-two",
      "label": "Copy"
    },
    {
      "type": "header",
      "content": "Three"
    },
    {
      "type": "image_picker",
      "id": "img-three",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading-three",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub-heading-three",
      "label": "Copy"
    },
    {
      "type": "header",
      "content": "Four"
    },
    {
      "type": "image_picker",
      "id": "img-Four",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading-Four",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "sub-heading-Four",
      "label": "Copy"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Scrolling Animation"
    }
  ]
}

{% endschema %}