<section class="home-sign-up js-visibility reveal-slide">
  <div class="home-sign-up__inner container">
    <div class="home-sign-up__left">
      <h2 class="header-medium">Our emails are clean and lean too.</h2>
      <p class="body-small">In your smoothie and in your inbox. Sign up for our newsletter.</p>
    </div>
    <div class="home-sign-up__right">
      {% include 'signup-form' %}
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Signup",
  "class": "hero",
  "settings": [
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Signup"
    }
  ]
}

{% endschema %}