<section class="home-sign-up">
  <div class="home-sign-up__inner container">
    <div class="home-sign-up__left">
      <h2 class="header-medium">Our emails are clean and lean too.</h2>
      <p class="body-small">In your smoothie and in your inbox. Sign up for our newsletter.</p>
    </div>
    <div class="home-sign-up__right">
      <input type="text" placeholder="Your email" ><br>
      <div class="home-sign-up__btn sub-header">SIGN UP</div>
    </div>
  </div>

</section>

<div class="" style="height: 500px; background-color: grey;"></div>


{% schema %}
{
  "name": "Signup",
  "class": "hero",
  "settings": [
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Signup"
    }
  ]
}

{% endschema %}