.collection-hero{
  background-color: $cream;
  margin-bottom: 103px;

  @include respond-to(sm){
    margin-bottom: 160px;
  }

  .breadcrumbs__inner{

    @include respond-to(lg){
      margin-left: -50px;
    }

    @media (min-width: 1580px){
      margin-left: -90px;
    }
  }

  &__inner{

    @include respond-to(md){
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav{
    background-color: white;
    margin-left: -20px;
    width: calc(100% + 40px);

    @include respond-to(sm){
      margin-left: -40px;
      width: calc(100% + 80px);
    }

    @include respond-to(md){
      background-color: $cream;
      margin-left: 0px;
      width: auto;
    }

    @include respond-to(lg){
      margin-left: -50px;
    }

    @media (min-width: 1580px){
      margin-left: -90px;
    }

    h2{
      padding: 24px 14px 22px 14px;

      @include respond-to(md){
        margin-bottom: 20px;
        padding: 0px;
      }

      &.active{
        text-decoration: underline;
      }
    }

    &--faqs{
      background-color: #fcf8f4;
      margin-top: -33px;
      margin-bottom: -11px; 
      margin-left: -23px;

      @include respond-to(sm){
        margin-top: 63px;
        margin-bottom: 0px; 
        margin-left: 0;
      }

      @media (min-width: 1580px){
        margin-left: 0px;
      }

      h2{       

        @include respond-to(sm){
          padding-left: 0px !important;
        }

        @include hover{
          cursor: pointer;
          color: $blue-kgs;
        }

        @include respond-to(sm){
          margin-bottom: 20px;
          padding: 0px;
          padding-left: 40px;
        }

        @include respond-to(md){
          padding-left: 0px;
        }
      }
    }
  }

  &__nav-inner{
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    overflow-x: scroll;
    padding: 0px 10px;

    @include respond-to(md){
      display: block;
      overflow: hidden;
      padding: 0px;
    }

    &--faq{
      @include respond-to(sm){
        display: block;
        overflow: hidden;
        padding: 0px;
      }

    }
  }

  &__copy{

    @include respond-to(md){
      max-width: 400px;
      margin: 0px 49px 0px 53px;
    }

    h1{
      margin-bottom: 23px;
      margin-top: 45px;

      @include respond-to(md){
        margin-bottom: 50px;
        margin-top: 0px;
      }
    }

    p{

      @include respond-to(md){
        padding-bottom: 100px;
      }
    }
  }

  &__image{
    position: relative;
    width: calc(100% - 40px);
    margin: auto;

    @include respond-to(md){
      width: 500px;
      margin: initial;
    }

    img{
      position: relative;
      top: 55px;

      @include respond-to(md){
        position: absolute;
        top: 0;
      }
    }
  }
}