.digest-search{
  background-color: $off-white;

  &__inner{
    display: flex;
  }

  &__search{
    position: relative;
    width: 44px;
    height: 44px;
    border: solid black;
    border-width: 1px;
    border-radius: 68px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;

    @include respond-to(md){
      width: 68px;
      height: 68px;
    }

    &.active{
      width: 100%;
    }

    input{
      position: absolute;
      top: 10px;
      font-size: 16px;
      left: 33px;
      font-family: 'Helvetica';
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      width: calc(100% - 85px);
      border: none;
      background-color: $off-white;

      @include respond-to(md){
        top: 20px;
        width: calc(100% - 81px);
      }
    }

    svg{
      position: absolute;
      top: 14px;
      right: 13px;
      height: 15px;
      width: 15px;

      @include hover{
        cursor: pointer;
      }

      @include respond-to(md){
        top: 23px;
        right: 23px;
        height: 21px;
        width: 21px;
      }
    }
  }

  &__filter{
    display: flex;
    margin-left: 12px;
    width: calc(100% - 57px);
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond-to(md){
      flex-wrap: nowrap;
    }
  }

  &__filter-item{
    width: 48%;
    border: solid black;
    border-width: 1px;
    border-radius: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 0px 10px;
    margin-bottom: 10px;
    height: 44px;
    transition: 0.4s;

    @include hover{
      background-color: $blue-kgs;
      color: white;
    }

    &.active{
      background-color: $green;
    }

    @include hover{
      cursor: pointer;
    }

    @include respond-to(md){
      width: 25%;   
      margin: 0px 20px;
      height: 68px;
    }
  }

  &__filter-item:last-of-type{
    margin-right: 0px;
  }
}

//filtering 

.filter-results{
  display: none;

  &__wrap{
    min-height: 80vh;
    display: none;
    padding-bottom: 50px;
  }

  &.active{
    display: block;
  }
}

//search

.search-results{
  display: none;
}

//featured

.digest-featured{
  padding-bottom: 20px;

  @include respond-to(md){
    padding-bottom: 180px;
  }
}