.featured-blog{
  background-color: $off-white;
  padding-top: 39px;
  padding-bottom: 20px;
  overflow-x: hidden;


  @include respond-to(sm){
    padding-top: 180px;
    padding-bottom: 86px;
  }

  &__heading{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    padding-right: 39px;

    @include respond-to(sm){
      margin-left: 240px;
      margin-bottom: 90px;
    }

    @include respond-to(xl){
      margin-left: 25vw;
    }
  }

  &__nav{
    display: none;

    @include respond-to(sm){
      display: flex;
    }

    @include hover{
      cursor: pointer;
    }

    svg{
      margin-left: 73px;

      g{
        opacity: 1;
      }
    }
  }

  &__slider-wrap{
    margin-left: 20px;

    @include respond-to(sm){
      margin-left: 240px;
    }

    @include respond-to(xl){
      margin-left: 25vw;
    }

  }


  &__item{
    padding-bottom: 50px;


    @include respond-to(sm){
      display: flex;
    }
  }


  &__item-img{
    img{
      height: 270px;
      width: 270px;
      object-fit: cover;

      @include respond-to(lg){
        height: 320px;
        width: 320px;

      }
    }
  }

  &__item-details{
    max-width: 322px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
      margin: 14px 0 3px;

      @include respond-to(sm){
        margin: 19px 0px 30px 25px;
      }
    }

    h3, span, p{ 
      display: block;
      margin-top: 17px;

      @include respond-to(sm){
        margin-left: 25px;
        margin-top: 0px;
        display: block;
      }
    }
  }
}

.slidePrev-btn.swiper-button-disabled, .slideNext-btn.swiper-button-disabled{
  opacity: 0.5;
}

.option-color{
  width: 10px;
  height: 10px;
  background-color: green;
}

.swiper-button-disabled{
  opacity: 0.5;
}