// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer{
  background-color: #99B3B7;

  &__inner{
    padding-top: 42px;
    padding-bottom: 42px;

    @include respond-to(sm){
      display: flex;
      justify-content: space-between;
      padding-top: 83px;
      padding-bottom: 83px;
    }
  }

  &__column{

    @include respond-to(sm){
      width: 14%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    p{
      text-transform: uppercase;
      font-family: Brandon Black;
      font-size: 14px;

      @include respond-to(sm){
        margin-bottom: 23px;
      }
    }

    li{

      @include hover{
        color: $blue-kgs;
      }
    }

    li.body-bold{
      display: none;

      @include respond-to(sm){
        display: block;
      }
    }
  }

  &__column-menu-header{

    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column-menu{
    border-top: solid #07272D;
    border-width: 1px;

    @include respond-to(sm){
      border: none;
    }
    ul{
      max-height: 0px;
      overflow: hidden;
      margin: 0px;
      transition: 0.4s;

      &.active{
        max-height: 900px;
        margin-bottom: 10px;
      }

      @include respond-to(sm){
        margin-bottom: 48px;
        max-height: none;
      }
    }

    li{
      margin-bottom: 6px;
      margin-right: 10px;
    }  
  }

  &__column:last-of-type{
    border-bottom: solid #07272D;
    border-width: 1px;

    @include respond-to(sm){
      border: none;
    }
  }


  &__column:first-of-type{
    margin-bottom: 41px;

    @include respond-to(sm){
      width: 40%;
      margin-bottom: 0px;
      padding-right: 50px;
    }
  }

  &__logo{
    margin-bottom: 24px;

    @include respond-to(sm){
      margin-bottom: 0px;
    }

    p{
      font-size: 16px;
      font-size: 16px !important;
      font-family: Helvetica !important;
      text-transform: none !important;
      margin: 0px 0 24px;

      @include respond-to(sm){
        margin: 55px 0 6px;
      }
    }

    svg{
      width: 116px;
      height: 36px;
      margin-bottom: 18px;

      @include hover{
        opacity: 0.5;
      }

      @include respond-to(sm){
        width: 200px;
        height: 62px;
      }
    }
  }

  &__social{

    svg{
      margin-right: 22px;

      @include respond-to(sm){
        margin-right: 38px;

        @include hover{
          opacity: 0.5;
        }
      }
    }
  }

  &__mobile-only{   

    li{
      margin-top: 8px;
    }

    li:first-of-type{
      margin-top: 23px;
    }

    @include respond-to(sm){
      display: none;
    }
  }
}

.footer-banner{
  display: flex;
  justify-content: center;
  position: relative;

  p{
    padding: 16px 16px;
    text-align: center;
  }

  svg{    
    position: absolute;
    top: 25%;
    right: 7px;

    @include respond-to(sm){
      right: 15px;
    }

    @include hover{
      cursor: pointer;

      line{
        stroke: $blue-kgs;
      }
    }
  }
}

.footer-banner--animation{
  
  p{
    display: none;
  }
}