.full-width-featured-blog{
  padding-top: 44px;
  padding-bottom: 15px;

  @include respond-to(md){
    padding-top: 100px;
  }

  &__inner{

    @include respond-to(md){
      display: flex;
    }
  }

  &__left{
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-to(md){
      width: 40%;
      padding-right: 128px;
      padding-left: 50px;
    }

    h2{
      margin: 21px 0px 25px 0px;      
    }

    h2, p{
      max-width: 367px;
    }
  }

  &__right{
    margin-top: 45px;
    padding-top: 100%;
    position: relative;
    margin-left: -20px;
    width: calc(100% + 40px);

    @include respond-to(md){
      width: 60%;
      padding-top: 60%;
      margin-left: 0px;
      margin-right: 50px;
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}