.home-featured-product{
  background-color: $off-white;
  padding-top: 39px;
  padding-bottom: 112px;
  overflow-x: hidden;

  @include respond-to(sm){
    padding-top: 180px;
    padding-bottom: 373px;
  }

  &__heading{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    align-items: center;
    padding-right: 39px;

    h2{
      font-size: 42px;

      @include respond-to(sm){
        font-size: 62px;
      }
    }

    @include respond-to(sm){
      margin-left: 240px;
      margin-bottom: 55px;
    }

    @include respond-to(xl){
      margin-left: 25vw;
    }
  }

  &__nav{

    display: none;

    @include respond-to(sm){
      display: flex;
    }

    @include hover{
      cursor: pointer;
    }

    svg{
      margin-left: 73px;

      g{
        opacity: 1;
      }
    }
  }

  &__slider-wrap{
    margin-left: 20px;

    @include respond-to(sm){
      margin-left: 240px;
    }

    @include respond-to(xl){
      margin-left: 25vw;
    }
  }

  .product-card__item-img, .product-card__item-price, .btn{
    margin-right: 20px;
  }

  select{
    width: calc(100% - 56px) !important;
  }

  .btn{
    width: calc(100% - 20px) !important;
  }
}

#shopify-section-about-featured-products{
  .home-featured-product{
    padding-top: 50px;
    padding-bottom: 0px;

    @include respond-to(md){
      padding-top: 180px;
      padding-bottom: 170px;
    }

    .product-card__item{
      padding-bottom: 61px;
    }

    .product-card__product-options-wrap{
      bottom: 157px;
    }

    .product-card__product-options:after{
      right: 20px;
    }

  }
}



