.home-sign-up{
  background-color: $off-white;
  padding-top: 20px;
  padding-bottom: 45px;

  @include respond-to(sm){
    padding-top: 86px;
    padding-bottom: 176px;
  }

  &__inner{

    @include respond-to(sm){
      display: flex;
    }
  }

  &__left{
    margin-bottom: 50px;
    
    @include respond-to(sm){
      width: 50%;
      margin-bottom: 0px;
    }

    h2, p{
      max-width: 466px;
    }

    h2{
      margin-bottom: 16px;

      @include respond-to(sm){
        margin-bottom: 43px;
      }
    }
  }

  &__right{

    @include respond-to(sm){
      width: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      input{
        width: 300px !important;
      }
    }

    @include respond-to(md){
      input{
        width: 407px !important;
      }
    }
   }


}