.home-sign-up{
  background-color: $off-white;
  padding-top: 20px;
  padding-bottom: 45px;

  @include respond-to(sm){
    padding-top: 86px;
    padding-bottom: 176px;
  }

  &__inner{
    display: flex;
  }

  &__left{
    width: 50%;

    h2, p{
      max-width: 466px;
    }

    h2{
      margin-bottom: 16px;

      @include respond-to(sm){
        margin-bottom: 43px;
      }
    }
  }

  &__right{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;

    input{
      border: none;
      background-color: $off-white;
      border-bottom: solid black;
      padding: 14px 0px;
      font-family: 'Helvetica';
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;


      @include respond-to(sm){
        width: 407px
      }
    }
  }

  &__btn{
    position: absolute;
    bottom: 13px;
    right: 0;

    @include hover{
      cursor: pointer;
    }
  }
}