.product-template{


  &__inner{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    padding-bottom: 45px;

    @include respond-to(md){
      padding-bottom: 67px;
    }
  }

  &__left{

    @include respond-to(md){
      width: 408px;
    }

    h4{
      margin-bottom: 30px;
    }
  }

  &__right{
    overflow: hidden;
    margin-top: 46px;
    margin-bottom: 46px;
    margin-right: -20px;

    @include respond-to(sm){
      margin-right: -40px;
    }

    @include respond-to(md){
      width: calc(100% - 500px);
      position: absolute;
      left: 530px;
      top: 0;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 0px;
    }

    @include respond-to(xl){
      width: calc(100% - 50px);
    }
  }

  &__image{
    // width: 498px !important;
    

    img{
      width: 275px;
      height: 362px;
      object-fit: cover;

      @include respond-to(md){
        width: 498px;
        height: 658px;
        object-fit: cover;
      }
    }
  }

 
  &__slider-arrows{

    display: none;

    @include respond-to(md){
      display: flex;
      position: absolute;
      top: 694px;
      right: 30px;
    }

    @include hover{
      cursor: pointer;
    }

    svg{
      margin-left: 73px;

      g{
        opacity: 1;
      }
    }
  }




  &__reviews{
    margin: 30px 0px 28px;

    @include respond-to(sm){
      margin: 39px 0px 27px;
    }
  }

  .product-card__product-options-wrap{
    position: relative;
    bottom: auto;
    margin-bottom: 30px;
  }

  .product-card__product-options{
    opacity: 1;
  }

  &__qty-select{
    display: flex;

    p{
      font-family: 'Helvetica';
      font-size: 21px;
      line-height: 28px;
      font-weight: 400;
      user-select: none;
      margin: 0 6px;

      @include respond-to(md){
        margin: 0px 20px;
      }
    }
  }

  &__buy-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__qty-btn{
    height: 28px;
    width: 39px;
    background-color: $cream;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

    @include hover{
      cursor: pointer;
      background-color: $blue-kgs;

      svg line{
        stroke: white;
      }
    }
  }

  &__buy-btn{

    @include respond-to(sm){
      width: 257px;
    }

    p{
      padding: 10px 14px!important;
      user-select: none;      
    }
  }
}