.usps{
  background-color: white;

  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 42px 40px;
    flex-wrap: wrap;

    @include respond-to(sm){
      flex-wrap: nowrap;
    }

    @include respond-to(md){
      padding: 2px 40px;
      display: flex;
      height: 100%;
      padding: 0px 68px;
    }
  }

  &__item{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 12px 0px;

    @include respond-to(md){
      width: auto;
    }

    svg{
      width: 50px;
    }

    p{
      margin-left: 16px;      
      margin-right: 16px;
    }
  }
}