.about-giving-copy{

  p{
    font-family: 'Helvetica';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;  

  }
}

.about-science-based__inner--giving{
  padding-top: 0px;
}