.about-environment{

  &__inner{    
    padding-bottom: 50px;
    margin-top: -13px;

    @include respond-to(md){
      display: flex;
      padding-bottom: 109px;
      margin-top: 0px;
    }
  }

  &__left{

    h2{
      margin-bottom: 30px;

      @include respond-to(md){
        margin-bottom: 60px;
      }
    }

    @include respond-to(md){
      width: calc(50% - 112px);
      padding-top: 50px;
      padding-right: 110px;
    }

    @include respond-to(xl){
      padding-top: 100px;
    }
  }


  &__right{
    margin-top: 48px;

    @include respond-to(md){
      margin-top: 0px;
      width: calc(50% + 112px);
    }
  }
}