.accordian{

  &__accordian-item{
    min-height: 60px;
    overflow: hidden;
    border-bottom: solid black;
    border-width: 1px;  
    
    p{
      font-family: 'Helvetica';
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      max-height: 0px;
      overflow: hidden;
      transition: 0.4s;
    }

    h4{
      margin-bottom: 0px;
    }
    
    &.active{

      p{
        max-height: 900px;    
        margin-bottom: 50px;    
      }



      svg{
        transform: rotate(45deg);
        transition: 0.4s;  
      }
    }
  }

  &__accordian-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include hover{
      cursor: pointer;

      svg line{
        stroke: $blue-kgs;
      }
    }

    h4{
      text-transform: uppercase;
      line-height: 27px;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }
}