.article-grid{
  background-color: $off-white;
  padding-top: 50px;

  h5{
    margin-bottom: 20px;
    margin-top: -20px;
  }


  @include respond-to(sm){
    padding-top: 80px;
  }

  &__inner{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;

    @include respond-to(md){
      grid-template-columns: 1fr 1fr;
      row-gap: 80px;
    }
  }

  &__item{
    display: grid;
    grid-template-columns: 1fr;

    @include respond-to(sm){
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item-image{
    overflow: hidden;
    padding-top: 100%;
    position: relative;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.4s;
      position: absolute;
      top: 0;

      @include hover{
        transform: scale(1.1);
      }
    }
  }

  &__item-copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 19px 0px;

    @include respond-to(sm){
      padding: 0px 25px;
    }

    h3{
      margin: 17px 0 15px;
      text-transform: capitalize;

      @include respond-to(sm){
        margin: 11px 0px 30px 0px;
      }
      
    }
  }

  &__item-tags{
    display: flex;
    flex-wrap: wrap;
    max-width: 443px;

    span{
      margin-right: 25px;
      opacity: 0.5;
      margin-top: 10px
    }

    h4{
      span{
        opacity: 1;
      }
    }
  }
}

.article-grid-interview{
  margin-top: 45px;
  margin-bottom: 50px;

  @include respond-to(sm){
    margin-top: 80px;
    margin-bottom: 100px;
  }

  &__inner{
    display: grid;
    grid-template-columns: 1fr;

    @include respond-to(md){
      grid-template-columns: 1fr 1fr;
    }
  }
  
  &__item{
    background-color: $cream;
    display: flex;
  }

  &__item:nth-child(odd){

    @media screen and (max-width: 1024px) {
      background-color: white;
    }
  }

  &__item:nth-child(4n+0), &__item:nth-child(4n+1){

    @include respond-to(md){
      background-color: white;
    }
  }
}