.breadcrumbs{
  display: none;

  @include respond-to(md){
    display: block;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  &__inner{

    a{
      opacity: 0.5;
    }

    a:last-child{
      opacity: 1;
    }
  }
}