.featured-blogs{
  padding-top: 45px;

  @include respond-to(sm){
    padding-top: 84px ;
  }

  &__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include respond-to(sm){
      margin-bottom: 84px;
    }
  }

  &__title-left{
    display: flex;
    align-items: center;
  }

  &__title-decoration{
    height: 1px;
    width: 28px;
    background-color: black;
    margin: 0px 13px 0px 13px; 

    @include respond-to(sm){
      width: 50px;
      margin: 0px 13px 0px 24px; 
    }
  }

  &__slider{
    overflow: hidden;
    margin-right: -20px;
  }
}