.full-width-image{
  position: relative;

  &:after{
    position: absolute;
    content: "";
    bottom: 0px;
    width: 100%;
    height: 50%;
    background-color: $cream;

    @include respond-to(md){
      height: 75%;
    }
  }

  &__inner{
    padding-bottom: 80px;
    position: relative;
    z-index: 1;

    @include respond-to(md){
      padding-bottom: 180px;
    }
    
    h2{  
      margin-top: 55px;
      margin-bottom: 28px;

      @include respond-to(sm){
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
      }
    }
  }
}