.subscription-options{
  margin-bottom: 30px;

  &__radio{
    display: flex;
    background-color: white;
    padding: 0px 20px;

    &.active{
      background-color: $cream;
    }
  }

  label, input{
    background-color: transparent;
    height: 61px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
  }

  label{
    width: 100%;
    padding: 0px 10px;
  }
  
  &__option{
    display: none;
    background-color: $cream;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    label, select{
      margin-bottom: 20px;
    }

    label{
      width: auto;
      padding-left: 20px;
    }

    select{
      height: 44px;
      border-radius: 100px;
      border: none;
      background-color: white;
      padding: 0px 40px 0 20px;
      margin-right: 20px;
    }
  }

  &__select-wrap{
    position: relative;

    &:after {
      display: block;
      content: " ";
      background-image: url(../assets/down-arrow.svg);
      background-size: 18px 18px;
      background-color: #ffffff;
      background-repeat: no-repeat;
      height: 28px;
      position: absolute; 
      right: 0px;
      width: 37px;
      position: absolute;
      top: 13px;

      top: 15px;
      width: 33px;
      right: 24px;
      height: 18px;

      @include respond-to(sm){
        top: 15px;
        width: 33px;
        right: 24px;
        height: 18px;
      }
    }

  }

  &__tooltip{
    position: absolute;
    display: none;
    z-index: 999;

    &.active{
      display: block;
    }
    
  }

  &__tooltip-inner{   
    background-color: #07272D;
    padding: 29px 36px;
    color: white;

    li{
      max-width: 350px;
      list-style: outside;
      margin-bottom: 10px;
    }
  }



}