/**
 * Basic typography style for copy text
 */

html {
  // This defines what 1 rem is
  font-size: 62.5%;
}

body, a{
  color: $nuzest-navy;
}


.header-xl{
 font-family: 'Brandon Regular';
 font-size: 72px;
 line-height: 70px;
 font-weight: 400;

 @include respond-to(sm){
  font-size: 120px;
  line-height: 130px;
 }

 @include respond-to(lg){
  font-size: 150px;
  line-height: 130px;
 }
  
}

.header-large{
  font-family: 'Brandon Regular';
  font-size: 46px;
  line-height: 48px;
  font-weight: 400;

  @include respond-to(sm){
    font-size: 90px;
    line-height: 84px;    
  }
}

.header-medium{
  font-family: 'Brandon Regular';
  font-size: 46px;
  line-height: 46px;
  font-weight: 400;

  @include respond-to(sm){
    font-size: 62px;
    line-height: 64px;    
  }
}

.header-small{
  font-family: 'Brandon Medium';
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;

  @include respond-to(sm){
    font-size: 32px;
    line-height: 38px;    
  }
}

.sub-header{
  font-family: 'Brandon Black';
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  @include respond-to(sm){
    font-size: 16px;
    line-height: 30px;    
  }
}

.body{
  font-family: 'Helvetica';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  @include respond-to(sm){
    font-size: 21px;  
  }
}

.body-small{
  font-family: 'Helvetica';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.body-bold{
  font-family: 'Brandon Medium';
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.body-bold-large{
  font-family: 'Brandon Medium';
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.caption-italic{
  font-family: 'Brandon Medium Italic';
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.caption-regular{
  font-family: 'Brandon Medium';
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.breadcrumbs-font{
  font-family: 'Helvetica';
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}
