<section class="page-template">
  <div class="page-template__inner container">
    <div class="page-template__left">
      <h1 class="header-medium">{{ page.title }}</h1>
    </div>
    <div class="page-template__right">
      <div class="single-article__rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
