<section class="page-template js-visibility reveal-slide">
  <div class="page-template__inner container"> 
    <div class="page-template__left">
      <div class="page-template__left-wrap">
        <h1 class="header-medium">{{ page.title }}</h1>
      </div>
    </div>
    <div class="page-template__right">
      <div class="single-article__rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
